@font-face {
  font-family: 'Flamenco-R';
  src: local('Flamenco-R'), url(../public/fonts/Flamenco-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.App {
  text-align: center;
  /* background-image: url("../public/retro80s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: #000;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  margin-top: 0;
  font-family: "Flamenco-R";
}

.status-board {
  border-bottom: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin:  0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; 
  flex-grow: 8;
}

.his-steps{
  width:  50%;
  height: 100%;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.his-steps ul{
  margin: 0;
  padding: 0;
}

.his-steps ul li{
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.his-steps ul li:hover{
  transform: scale(1.02);
  z-index: 100;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.his-steps-title{
  height: 60px;
  background-color: #059862;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

.board button{
  background-color: #06181f;
}

.board .square {
  vertical-align: top;
  width: 64px;
  height: 64px;
  background-color: #06181f;
  border: none;
  font-size: 22px;
  font-weight: bold;
}

.status{
  display:flex;
  justify-content: center;
  width: 100%;
}

.status .stt{
  width: 35%;
  margin: 5% 5%;
  font-size: 3em;
  font-family: "Flamenco-R";
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  border-bottom: 5px solid green;
}

.status .restart-game{
  border:1px solid #9c9c9c;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #059862;
}

.status .restart-game:hover{
  background-color: #059862;
  color: #fff;
  cursor: pointer;
}

.status .stt-x{
    color: #ff5643;
    
}

.status .stt-o{
    color: #3ab1f3;
}

.win{
  font-size: 3em;
  font-family: "Flamenco-R";
  font-weight: bold;
}

.win-x{
  font-size: 9em;
  color: #ff5643;
}

.win-o{
  font-size: 9em;
  color: #3ab1f3;
}

.game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board{
  position: relative;
  border: 0.2rem solid #000;
  border-radius: 1rem;
}

.board .lines{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.board .lines path{
  stroke-dashoffset: 400;
  stroke-dasharray: 400;
  animation: animate 0.5s linear forwards;
}

@keyframes animate {
  from{
    stroke-dashoffset: 400;
  }
  to{
    stroke-dashoffset: 0;
  }
}

table, th, td {
  border-collapse: collapse;
  position: relative;
}

table{
  width: 100%;
  height: 100%;
}

.board .squ{
  width: 125px;
  height: 125px;
  color: black;
  padding: 0.5rem;
}

.board .lines .path{
  stroke-linecap: butt;
}

.board .lines .path1{
  d: path("M213,139L0,139")
}

.board .lines .path2{
  d: path("M213,139L425,139")
}

.board .lines .path3{
  d: path("M213,278L0,278")
}

.board .lines .path4{
  d: path("M213,278L425,278")
}

.board .lines .path5{
  d: path("M139,213L139,0")
}

.board .lines .path6{
  d: path("M278,213L278,0")
}

.board .lines .path7{
  d: path("M139,213L139,425")
}

.board .lines .path8{
  d: path("M278,213L278,425")
}

.board .lines .path9{
  d: path("M120,120L20,20")
}

.board .lines .path10{
  d: path("M20,120L120,20")
}

.board .lines .path11{
  d: path("M82,18A35,35 0 1,0 58,120A35,35 0 1,0 82,18")
}

/* .board .squ .player-x{
  visibility: visible;
}

.board .squ .player-o{
  visibility: visible;
}  */

@media screen and (max-width: 1007px){
  .game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .board .squ{
    width: 100px;
    height: 100px;
    color: black;
  }

  .status-board {
    border-right: 1px solid #9c9c9c;
  }

  .App{
    background-size: 100% 100%;
  }

  .board .lines .path1{
    d: path("M174,114L0,114")
  }
  
  .board .lines .path2{
    d: path("M174,114L348,114")
  }
  
  .board .lines .path3{
    d: path("M174,229L0,229")
  }
  
  .board .lines .path4{
    d: path("M174,229L348,229")
  }
  
  .board .lines .path5{
    d: path("M114,174L114,0")
  }
  
  .board .lines .path6{
    d: path("M229,174L229,0")
  }
  
  .board .lines .path7{
    d: path("M114,174L114,348")
  }
  
  .board .lines .path8{
    d: path("M229,174L229,348")
  }
  
  .board .lines .path9{
    d: path("M100,100L20,20")
  }
  
  .board .lines .path10{
    d: path("M20,100L100,20")
  }
  
  .board .lines .path11{
    d: path("M58,16A35,35 0 1,0 58,100A35,35 0 1,0 58,16")
  }
}

@media screen and (max-width: 640px){
  .game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .board .squ{
    width: 75px;
    height: 75px;
    color: black;
  }

  .status-board {
    border-right: 1px solid #9c9c9c;
  }

  .App{
    background-size: 100% 100%;
  }

  .board .lines .path1{
    d: path("M140,92L0,92")
  }
  
  .board .lines .path2{
    d: path("M140,92L273,92")
  }
  
  .board .lines .path3{
    d: path("M140,186L0,186")
  }
  
  .board .lines .path4{
    d: path("M140,186L275,186")
  }
  
  .board .lines .path5{
    d: path("M92,140L92,0")
  }
  
  .board .lines .path6{
    d: path("M186,140L186,0")
  }
  
  .board .lines .path7{
    d: path("M92,140L92,273")
  }
  
  .board .lines .path8{
    d: path("M186,140L186,273")
  }
  
  .board .lines .path9{
    d: path("M80,80L13,13")
  }
  
  .board .lines .path10{
    d: path("M13,80L80,13")
  }
  
  .board .lines .path11{
    d: path("M48,12A30,30 0 1,0 48,82A30,30 0 1,0 48,12")
  }
}