@font-face {
  font-family: 'Flamenco-R';
  src: local('Flamenco-R'), url(../public/fonts/Flamenco-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.App {
  text-align: center;
  /* background-image: url("../public/retro80s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: block;
  /*flex-direction: row;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000;
  /* text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #b026ff,
    0 0 82px #b026ff,
    0 0 92px #b026ff,
    0 0 102px #b026ff,
    0 0 151px #b026ff; */
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  margin-top: 0;
}

.status-board {
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: 10px 10px;
  /* width: 370px;
  height: 50%;
  position: absolute;
  left: 10%;
  top: 25%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  flex-grow: 8;
}

.his-steps{
  /*border: 1px solid #9c9c9c;*/
  width:  50%;
  height: 100%;
  margin: 10px 10px;
  /* width: 370px;
  height: 50%;
  position: absolute;
  right: 10%;
  top: 25%;*/
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.his-steps ul{
  margin: 0;
  padding: 0;
}

.his-steps ul li{
  list-style: none;
  padding: 10px;
  /*box-shadow: 0 5px 25px rgba(0,0,0,.1);*/
  border-bottom: 1px solid #ccc;
}

.his-steps ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.his-steps-title{
  height: 60px;
  background-color: #059862;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

.board button{
  background-color: #06181f;
}

.board .square {
  vertical-align: top;
  width: 64px;
  height: 64px;
  background-color: #06181f;
  border: none;
  font-size: 22px;
  font-weight: bold;
}

.status{
  display:flex;
  justify-content: center;
  width: 100%;
}

.status .stt{
  width: 35%;
  /* border: 0.2rem solid #fff;
  border-radius: 1rem;*/
  margin: 5% 5%;
  font-size: 3em;
  font-family: "Flamenco-R";
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  border-bottom: 5px solid green;
}


.status .stt-x{
    color: #ff5643;
    
}

.status .stt-o{
    color: #3ab1f3;
}

.win{
  font-size: 3em;
  font-family: "Flamenco-R";
  font-weight: bold;
}

.win-x{
  font-size: 9em;
  color: #ff5643;
}

.win-o{
  font-size: 9em;
  color: #3ab1f3;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board{
  position: relative;
  border: 0.2rem solid #000;
  border-radius: 1rem;
  /* box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 0.5rem #bc13fe,
            inset 0 0 0.8rem #bc13fe;  */
}

.board .lines{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.board .lines path{
  stroke-dashoffset: 400;
  stroke-dasharray: 400;
  animation: animate 0.5s linear forwards;
  /* --colorA: #bc13fe;
  filter: drop-shadow(0 0 2px var(--colorA)) 
        drop-shadow(0 0 0px var(--colorA)) 
        drop-shadow(0 0 0px var(--colorA)) 
        drop-shadow(0 0 0px var(--colorA)) 
        drop-shadow(0 0 0px var(--colorA)); */
}

@keyframes animate {
  from{
    stroke-dashoffset: 400;
  }
  to{
    stroke-dashoffset: 0;
  }
}

table, th, td {
  border-collapse: collapse;
  position: relative;
}

table{
  width: 100%;
  height: 100%;
}

.board .squ{
  width: 5.5em;
  height: 5.5em;
  color: black;
  /* background-color: #b026ff;
  opacity: .2; */
  padding: 0.5rem;
}


/* .board .squ .player-x{
  visibility: visible;
}

.board .squ .player-o{
  visibility: visible;
}  */

@media screen and (min-width: 1280px){
  .game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .board .squ{
    width: 4.25em;
    height: 4.25em;
    color: black;
  }

  .App{
    background-size: 100% 100%;
  }
}